* {
    margin: 0;
    
}

.chatbox{
    position:fixed;
    bottom:0;
    right:0;
    width:350px;
    height:500px;
    background-color:#fff;
    font-family:'Roboto',sans-serif;
    -webkit-transition:all 600ms cubic-bezier(.19,1,.22,1);
    transition:all 600ms cubic-bezier(.19,1,.22,1);
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    z-index:1000 /* z-index를 충분히 큰 값으로 설정할 것 */
}
.chatbox--tray{
    bottom:-250px
}
.chatbox--closed{
    bottom:-300px
}
.chatbox .form-control:focus{
    border-color:#021D3C
}
.chatbox__body,.chatbox__title{
    border-bottom:none
}
.chatbox__title{
    color:#fff;
    min-height:50px;
    padding-right:10px;
    background-color:#021D3C;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    cursor:pointer;
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center
}
.chatbox__title h5{
    height:50px;
    margin:0 0 0 15px;
    line-height:50px;
    position:relative;
    padding-left:20px;
    -webkit-flex-grow:1;
    flex-grow:1
}
.chatbox__title h5 a{
    color:#fff;
    max-width:195px;
    display:inline-block;
    text-decoration:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.chatbox__title h5:before{
    content:'';
    display:block;
    position:absolute;
    top:50%;
    left:0;
    width:12px;
    height:12px;
    background:#4caf50;
    border-radius:6px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.chatbox__title__close,.chatbox__title__tray{
    width:24px;
    height:24px;
    outline:0;
    border:0;
    background-color:transparent;
    opacity:.5;
    cursor:pointer;
    -webkit-transition:opacity 200ms;
    transition:opacity 200ms
}
.chatbox__title__close:hover,.chatbox__title__tray:hover{
    opacity:1
}
.chatbox__title__tray span{
    width:12px;
    height:12px;
    display:inline-block;
    border-bottom:2px solid #fff
}
.chatbox__title__close svg{
    vertical-align:middle;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:1.2px
}
.chatbox__body,.chatbox__credentials{
    padding:15px;
    border-top:0;
    background-color:#fff;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    -webkit-flex-grow:1;
    flex-grow:1
}
.chatbox__credentials{
    display:none
}
.chatbox__credentials .form-control{
    -webkit-box-shadow:none;
    box-shadow:none
}
.chatbox__body{
    overflow-y:auto
}
.chatbox__body__message{
    position:relative
}
.chatbox__body__message p{
    padding:10px;
    border-radius:4px;
    font-size:14px;
    background-color:#fff;
    -webkit-box-shadow:1px 1px rgba(100,100,100,.1);
    box-shadow:1px 1px rgba(100,100,100,.1)
}
.chatbox .chatbox__body .botResponse:before{
    border-right:15px solid #7caa2d;
    left:-15px
}
.botResponse{
    background-color:#7caa2d;
    float:left;
    border-top-left-radius:0;
    word-wrap:break-word
}
.botResponse,.suggestions,.userText{
    clear:both;
    color:#fff;
    padding:10px;
    border-radius:7px;
    position:relative
}
.userText{
    border-top-right-radius:0;
    word-wrap:break-word;
    background-color:#012B5C;
    float:right;
    margin: 0.3rem 0 0.3rem 0;
}
.chatbox .chatbox__body .botResponse:before,.chatbox .chatbox__body .suggestions:before,.chatbox .chatbox__body .userText:before{
    content:"";
    width:0;
    height:0;
    position:absolute;
    border-top:0 solid transparent;
    border-bottom:15px solid transparent;
    margin-top:-10px
}
.suggestions{
    background-color:#E6E6E6;
    float:left;
    color: #000000;
    border-top-left-radius:0;
    margin: 0.3rem 0 0.3rem 0;
}
.systemText {
    text-align: center;
    color: #989CA8;
    font-size:14px;
    padding: 5px 0 10px 0;
}
.sugg-options{
    display:block;
    background-color:red;
    color:#fff;
    padding:5px;
    text-align:center;
    cursor:pointer;
    margin-bottom:5px;
    border-radius:4px;
    font-size:14px;
    font-weight:300
}
.chatbox__message{
    padding:15px;
    min-height:50px;
    outline:0;
    resize:none;
    font-size:16px;
    border:1px solid #ddd;
    border-bottom:none;
    background-color:#fefefe
}
.chatbox--empty{
    height:300px
}
.chatbox.chatbox--tray{
    bottom:-450px
}
.chatbox.chatbox--closed{
    bottom:-450px;
    right:-250px
}
.chatbox--empty.chatbox--tray{
    bottom:-250px
}
.chatbox--empty.chatbox--closed{
    bottom:-250px;
    right:-250px
}
.chatbox--empty .chatbox__body,.chatbox--empty .chatbox__message{
    display:none
}
.chatbox--empty .chatbox__credentials{
    display:block
}

.chatbox__credentials_btn {
    width: 100%;
    background-color: #0A7CED;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chatbox__credentials_input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}