<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>
<style media="screen">
    * {
        margin: 0;
        padding: 0;
    }

    body {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    div {
        width: 60px;
        height: 60px;
        background: #0054FF;
        margin: 10px;
    }
</style>

<body>
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
</body>

</html>